<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:name="io.github.droidkaigi.confsched.testing.TestApplication">
        <activity
            android:name="io.github.droidkaigi.confsched.testing.TestActivity"
            android:exported="true" />
    </application>

</manifest>
